
doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title='Admin ' + config.Website.name
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/date-picker/css/bootstrap-datepicker.min.css')

    script(src='/javascripts/jquery-1.12.3.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')


    script(src='/date-picker/js/bootstrap-datepicker.min.js')
    script(src='/date-picker/locales/bootstrap-datepicker.fr.min.js')

    script(src='/javascripts/helper.js')
    script(src='/javascripts/validation.js')


  body
    nav.navbar.navbar-inverse(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/admin').navbar-brand Admin menu
          a(href='/').navbar-brand DemandeAuFinaud
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li

          ul.nav.navbar-nav.navbar-right
            if(session.authenticated)
              li
                a(href="/admin/logout") Logout
            else
              li
                a(href="/admin") Login

    .container
      .row

        block content






