extends layout


block content

    .col-lg-2.text-center
    .col-lg-8
        h2 Add Interview for Pierre Thierry
        br
        br
        form.form-horizontal(id="enregisrement_form", action="", method="post", role="form")
            if(error)
                .alert.alert-danger(role="alert") #{error}
            .form-group
                label.control-label.col-sm-4(for='datepicker') Date:
                .col-sm-8
                    .input-group.date(data-provide="datepicker")
                        input#datepicker(type="text").form-control
                        .input-group-addon
                            span.glyphicon.glyphicon-th
            .form-group
                label.control-label.col-sm-4(for='time_hour') Heure:
                .col-sm-2
                    select#time_hour.form-control(value='12')
                        option(value='08') 08
                        option(value='09') 09
                        option(value='10') 10
                        option(value='11') 11
                        option(value='12') 12
                        option(value='13') 13
                .col-sm-2
                    select#time_minute.form-control(value='00')
                        option(value='00') 00
                        option(value='15') 15
                        option(value='30') 40
                        option(value='45') 45

            .form-group
                label.control-label.col-sm-4(for='') Fichier video:
                .col-sm-8
                    button(type="file").btn.btn-default Selectionner...
            .form-group
                .col-sm-offset-4.col-sm-10
                    //button(type="submit").btn.btn-default S'enregister
                    a.btn.btn-default(href="confirmation") Ajouter
    .col-lg-2.text-center
