extends layout

block content

    .col-lg-2.text-center
    .col-lg-8
        h2 Entretiens de Pierre Thierry
        br
        br
        .container

            .col-lg-6(style='padding:10px')
                div Interview du Lundi 31 mai 2106 17:30
                video(controls width="320" height="240" poster="images/video-poster.png")
                    source(src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4")
                    Your browser does not support the video tag.


    .col-lg-2.text-center
