extends layout

block content

    .col-lg-2.text-center
    .col-lg-6(style='padding:10px')

        .row
            h2 Etudiant Pierre Thierry

        .row.row-margin
            .col-lg-6
                ul
                    li
                        a(href='student-info') Voir ses informations personnelles
                    li
                        a(href='student-add-interview') Ajouter un entretien
                    li
                        a(href='student-interviews-list') Voir ses entretiens



