extends layout

block content

    .main-container.dark-translucent-bg(style="background-image:url('/images/montagne1.jpg');")
        .container
            .row
                // main start
                // ================
                .main.object-non-visible(data-animation-effect='fadeInUpSmall', data-effect-delay='100')
                    .form-block.center-block.p-30.light-gray-bg.border-clear

                        h2.title Password changed

                        br
                        div Your password has successfuly been changed, please log in &nbsp;
                            a(href='/user-login') here

                        br
                        br
                        br

