extends layout

block content

    .col-lg-2.text-center
    .col-lg-8
        h2 Confirmation
        br
        p Thank you #{session.firstName}, we will get in touch in the next 24 hours to schedule a mock interview / Merci, nous vous revenons dans les 12 prochaines heures pour planifier un entretien blanc.
        br
        | Go to &nbsp;
        a(href='my-account') My account

    .col-lg-2.text-center
