extends layout

block content

    .col-lg-2.text-center
    .col-lg-8
        h2 Confirmation
        br
        br
        p Thank you #{session.firstName}, We will get in touch in the next 24 hours to shcedule a mock interview.
        br

        a(href='my-account') Log in

    .col-lg-2.text-center
