extends layout

block content

    .col-lg-2.text-center
    .col-lg-8
        h2 Confirmation
        br
        br
        p Merci #{session.firstName}, Le Finaud va vous contacter tres bientot afin d'organiser un rendez vous.
        br

        a(href='my-account') Acceder a mon compte

    .col-lg-2.text-center
