extends layout

block content

    .col-lg-2.text-center
    .col-lg-8
        h2 Confirmation
        br
        br
        p Thank you #{session.firstName}, We will get in touch in the next 24 hours to schedule a mock interview / Nous vous revenons dans les 12 prochaines heurs pour planifier un entretien blanc
        br

        a(href='my-account') Log in

    .col-lg-2.text-center
