extends layout

include ../_includes/sharedHTMLfunctions

block content

    #banner.banner.dark-translucent-bg.padding-bottom-clear(style="background-image:url('images/montagne1.jpg');")
        // section start
        // ================
        .container
            .row
                .col-md-8.text-center.col-md-offset-2.space-bottom
                    .title.large_white=catchphrase
                    .separator
                    p.text-center.lead
                        | Benefit from mock interviews and customised advise while getting noticed from recruiters who will browse through your best video interview samples!
                    //p.text-center.lead
                    //    | Réussissez vos entretiens d'embauche et bénéficiez de conseils personalisés en effectuant des simulations d'entretiens en ligne puis choisissiez les extraits accessibles à nos recruteurs!
            .row.mb-20

                .col-md-6
                    .feature-box-2.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='100')
                        //span.icon.default-bg.small
                        //    i.fa.fa-heart-o
                        .body
                            h4.title Mock interviews
                            ul
                                li Schedule an appointment for a video mock interview
                                li Get customised feedback
                                li Full interview is downloadable so that you can practice on your own as well
                                li Get noticed and allow recruiters to access your best interview samples!
                .col-md-6
                    .feature-box-2.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='150')
                        //span.icon.default-bg.small
                        //    i.fa.fa-connectdevelop
                        .body
                            h4.title Apply for offers
                            ul
                                li Browse through our job & internship opportunities
                                li To apply, schedule an appointment for a video mock interview
                                li Excerpts from your mock interview are directly send to the recruiter!
            .row.text-center
                .col-md-6
                    a(href="user-register").btn.btn-default Schedule a mock interview
                .col-md-6
                    a(href="offers").btn.btn-default Discover our offers
             br

     //
    section#about.main-container
        .container
            .col-md-8.col-md-offset-2
                h2.text-center.title
                    | Le
                    strong  Concept
                .separator
                p.large.text-center
                    | Notre service vous permet de bénéficier gratuitement de simulations d'entretiens personnalisées sous forme de vidéos et de recevoir du feeback. En outre les séquences clés sont accessibles à nos recruteurs ce qui leur permet de vous inviter directement au stade final des entretiens.
            .row
                .col-md-8.col-md-offset-2
                    h3.text-center.title
                        | Notre objectif:
                        span.text-rotator(data-rotator-animation-effect='fadeIn')  améliorer vos chances d'accéder aux derniers tours des entretiens 
                        |  
                    p.text-center
                        | Faites découvrir aux recruteurs votre personnalité, compétences techniques et capacité à rebondir dans une situation de stress.
                        span.text-default 
                        |  
                        strong Vous valez mieux que votre CV, prouvez le!
                        |  
                        p.text-center
                    ul.list-icons
                        li.object-non-visible(data-animation-effect='fadeInUpSmall', data-effect-delay='100')
                            i.icon-check-1
                            |  Ayez la possibilité de convaincre directement un recruteur
                        li.object-non-visible(data-animation-effect='fadeInUpSmall', data-effect-delay='150')
                            i.icon-check-1
                            |  Préparez-vous aux entretiens & recevez du feedback
                        li.object-non-visible(data-animation-effect='fadeInUpSmall', data-effect-delay='200')
                            i.icon-check-1
                            |  Accédez à nos offres de stages et d'emplois spécialisées en finance
                        li.object-non-visible(data-animation-effect='fadeInUpSmall', data-effect-delay='250')
                            i.icon-check-1
                            |   Optimisez votre profil LinkedIn avec vos séquences d'entretiens filmées
                    p
                um 
          

            // footer top end
        // section end
        // footer start (Add "dark" class to #footer in order to enable dark footer)
        // ================
        footer#footer.clearfix
            // .footer start
            // ================
            .footer
                .container
                    .footer-inner
                        .row
                                .col-md-8.col-md-offset-2
                                .footer-content
                                                                    h2.title Une question? Contactez nous:
                                    #MessageSent2.alert.alert-success.hidden
                                        | We have received your message, we will contact you very soon.
                                    #MessageNotSent2.alert.alert-danger.hidden
                                        | Oops! Something went wrong please refresh the page and try again.
                                    form#footer-form.margin-clear(role='form')
                                        .form-group.has-feedback.mb-10
                                            label.sr-only(for='name2') Name
                                            input#name2.form-control(type='text', placeholder='Name', name='name2')
                                            i.fa.fa-user.form-control-feedback
                                        .form-group.has-feedback.mb-10
                                            label.sr-only(for='email2') Email address
                                            input#email2.form-control(type='email', placeholder='Enter email', name='email2')
                                            i.fa.fa-envelope.form-control-feedback
                                        .form-group.has-feedback.mb-10
                                            label.sr-only(for='message2') Message
                                            textarea#message2.form-control(rows='4', placeholder='Message', name='message2')
                                            i.fa.fa-pencil.form-control-feedback
                                        input.margin-clear.submit-button.btn.btn-default(type='submit', value='Send')
            // .footer end
            // .subfooter start
            // ================
            .subfooter
                .container
                    .subfooter-inner
                        .row
                            .col-md-12
                                p.text-center
                                    | © 2016 SkipTheFirstRound.com
                                
                                    | 
            // .subfooter end
        // footer end

        // section end
        // section start
        // ================
        //.pv-40.dark-translucent-bg
        //    .container
        //        .row
        //            .col-md-12
        //                .call-to-action.text-center
        //                    form.form-inline.margin-clear
        //                        .form-group.has-feedback
        //                            label.sr-only(for='subscribe3') Email address
        //                            input#subscribe3.form-control.form-control-lg(type='email', placeholder='Enter email', name='subscribe3', required='')
        //                            i.fa.fa-envelope.form-control-feedback
        //                        button.btn.btn-lg.btn-gray-transparent.btn-animated.margin-clear(type='submit')
        //                            | Subscribe
        //                            i.fa.fa-send
        // section end
    // banner end
    //br
    //br
    //.container
    //    .col-lg-2
    //    .col-lg-8
    //        .row.mb-20
    //            .col-md-6
    //                .feature-box-2.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='100')
    //                    span.icon.default-bg.small
    //                        i.fa.fa-heart-o
    //                    .body
    //                        h4.title Mock interviews
    //                        ul
    //                            li Schedule an appointment for a video mock interview
    //                            li Get customised feedback
    //                            li Full interview is downloadable so that you can practice on your own as well
    //                            li Get noticed and allow recruiters to access your best interview samples!
    //            .col-md-6
    //                .feature-box-2.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='150')
    //                    span.icon.default-bg.small
    //                        i.fa.fa-connectdevelop
    //                    .body
    //                        h4.title Apply for offers
    //                        ul
    //                            li Browse through our job & internship opportunities
    //                            li To apply, schedule an appointment for a video mock interview
    //                            li Excerpts from your mock interview are directly send to the recruiter!
    //        .row.text-center
    //            .col-md-6
    //                a(href="user-register").btn.btn-default Schedule a mock interview
    //            .col-md-6
    //                a(href="offers").btn.btn-default Discover our offers



    //.col-lg-2
    //.col-lg-8
    //    .row
    //
    //        h3 Benefit from mock interviews and customised advise while getting noticed from recruiters who will browse through your best video interview samples!
    //        h3 Réussissez vos entretiens d'embauche et bénéficiez de conseils personalisés en effectuant des simulations d'entretiens en ligne puis choisissiez les extraits accessibles à nos recruteurs!
    //        br
    //        br
    //
    //    .row
    //        .col-md-6
    //            ul
    //                li Schedule an appointment for a video mock interview
    //                li Get customised feedback
    //                li Full interview is downloadable so that you can practice on your own as well
    //                li Get noticed and allow recruiters to access your best interview samples!
    //
    //        .col-md-6
    //            ul
    //                li Browse through our job & internship opportunities
    //                li To apply, schedule an appointment for a video mock interview
    //                li Excerpts from your mock interview are directly send to the recruiter!
    //    .row.text-center
    //        br
    //        br
    //        .col-md-6
    //            a(href="user-register").btn.btn-default Schedule a mock interview
    //        .col-md-6
    //            a(href="offers").btn.btn-default Discover our offers
    //
    //
    //.col-lg-2
