extends layout

include ../_includes/sharedHTMLfunctions

block content

    .col-lg-2.text-center
    .col-lg-8
        .row
            h2=catchphrase
            br
            h3 Benefit from mock interviews and customised advise while getting noticed from recruiters who will browse through your best video interview samples!
            h3 Réussissez vos entretiens d'embauche et bénéficiez de conseils personalisés en effectuant des simulations d'entretiens en ligne puis choisissiez les extraits accessibles à nos recruteurs!
            br 
            br

        .row
            .container
                .col-md-4
                    ul
                        li Schedule an appointment for a video mock interview 
                        li Get customised feedback 
                        li Full interview is downloadable so that you can practice on your own as well
                        li Get noticed and allow recruiters to access your best interview samples!

                .col-md-4
                    ul
                        li Browse through our job & internship opportunities 
                        li To apply, schedule an appointment for a video mock interview 
                        li Excerpts from your mock interview are directly send to the recruiter!
        .row
            br
            br
            .container.text-center
                .col-md-4
                    a(href="user-register").btn.btn-default Schedule a mock interview
                .col-md-4
                    a(href="offers").btn.btn-default Discover our offers


    .col-lg-2.text-center
