extends layout

include ../_includes/sharedHTMLfunctions

block content

    #banner.banner.dark-translucent-bg.padding-bottom-clear(style="background-image:url('images/montagne1.jpg');")
        // section start
        // ================
        .container
            .row
                .col-md-8.text-center.col-md-offset-2.space-bottom
                    .title.large_white=catchphrase
                    .separator
                    p.text-center.lead
                        | Benefit from mock interviews and customised advise while getting noticed from recruiters who will browse through your best video interview samples!
                    //p.text-center.lead
                    //    | Réussissez vos entretiens d'embauche et bénéficiez de conseils personalisés en effectuant des simulations d'entretiens en ligne puis choisissiez les extraits accessibles à nos recruteurs!
            .row.mb-20

                .col-md-6
                    .feature-box-2.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='100')
                        //span.icon.default-bg.small
                        //    i.fa.fa-heart-o
                        .body
                            h4.title Mock interviews
                            ul
                                li Schedule an appointment for a video mock interview
                                li Get customised feedback
                                li Full interview is downloadable so that you can practice on your own as well
                                li Get noticed and allow recruiters to access your best interview samples!
                .col-md-6
                    .feature-box-2.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='150')
                        //span.icon.default-bg.small
                        //    i.fa.fa-connectdevelop
                        .body
                            h4.title Apply for offers
                            ul
                                li Browse through our job & internship opportunities
                                li To apply, schedule an appointment for a video mock interview
                                li Excerpts from your mock interview are directly send to the recruiter!
            .row.text-center
                .col-md-6
                    a(href="user-register").btn.btn-default Schedule a mock interview
                .col-md-6
                    a(href="offers").btn.btn-default Discover our offers
             br

     //
    section#about.main-container
        .container
            .col-md-8.col-md-offset-2
                h2.text-center.title
                    | About
                    strong Us
                .separator
                p.large.text-center
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.
            .row
                .col-md-6
                    h3.title
                        | The Project is
                        span.text-rotator(data-rotator-animation-effect='fadeIn') Multipurpose, Powerful, Multiconcept
                        |  Bootstrap Template
                    p
                        | Lorem ipsum dolor sit amet, lotrem
                        span.text-default some colored text
                        | . Nulla explicabo
                        strong attention to this
                        |  blanditiis, ex cupiditate ipsam debitis rem.
                    ul.list-icons
                        li.object-non-visible(data-animation-effect='fadeInUpSmall', data-effect-delay='100')
                            i.icon-check-1
                            |  Extremly Simple to Use
                        li.object-non-visible(data-animation-effect='fadeInUpSmall', data-effect-delay='150')
                            i.icon-check-1
                            |  Customize it in no time
                        li.object-non-visible(data-animation-effect='fadeInUpSmall', data-effect-delay='200')
                            i.icon-check-1
                            |  Unlimited options and variations
                        li.object-non-visible(data-animation-effect='fadeInUpSmall', data-effect-delay='250')
                            i.icon-check-1
                            |  We are here to support you
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        strong Some bold text
                        | , unde voluptatum quidem explicabo et eius aut nisi dolore ut. Sapiente velit quidem, unde fugit. Neque illum, debitis ut, porro natus.
                .col-md-6
                    .overlay-container.overlay-visible
                        img(src='/template/images/section-image-5.jpg', alt='')
                        a.overlay-link(href='#')
                            i.fa.fa-link
                        .overlay-bottom.hidden-xs
                            .text
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nobis sunt, quae alias impedit ea molestias recusandae.
            h3.title
                | Our
                strong Team
            .separator-2
            .row.grid-space-10
                .col-sm-4
                    .team-member.image-box.style-2.shadow.bordered.light-gray-bg.text-center
                        .overlay-container.overlay-visible
                            img(src='template/images/team-member-1.jpg', alt='')
                            .overlay-bottom
                                ul.social-links.circle.dark.margin-clear
                                    li.skype
                                        a(target='_blank', href='http://www.skype.com')
                                            i.fa.fa-skype
                                    li.linkedin
                                        a(target='_blank', href='http://www.linkedin.com')
                                            i.fa.fa-linkedin
                                    li.xing
                                        a(target='_blank', href='https://www.xing.com/')
                                            i.fa.fa-xing
                        .body
                            h3.margin-clear Jane Doe
                            small CEO
                            .separator.mt-10
                            p.small.margin-clear
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates praesentium nulla cupiditate!
                            a.btn.btn-lg-link.link-dark(href='mailto:info@theproject.com')
                                i.pr-10.fa.fa-envelope-o
                                | Contact Me
                .col-sm-4
                    .team-member.image-box.style-2.shadow.bordered.light-gray-bg.text-center
                        .overlay-container.overlay-visible
                            img(src='template/images/team-member-2.jpg', alt='')
                            .overlay-bottom
                                ul.social-links.circle.dark.margin-clear
                                    li.skype
                                        a(target='_blank', href='http://www.skype.com')
                                            i.fa.fa-skype
                                    li.linkedin
                                        a(target='_blank', href='http://www.linkedin.com')
                                            i.fa.fa-linkedin
                                    li.xing
                                        a(target='_blank', href='https://www.xing.com/')
                                            i.fa.fa-xing
                        .body
                            h3.margin-clear John Doe
                            small CTO
                            .separator.mt-10
                            p.small.margin-clear
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates praesentium nulla cupiditate!
                            a.btn.btn-lg-link.link-dark(href='mailto:info@theproject.com')
                                i.pr-10.fa.fa-envelope-o
                                | Contact Me
                .col-sm-4
                    .team-member.image-box.style-2.shadow.bordered.light-gray-bg.text-center
                        .overlay-container.overlay-visible
                            img(src='template/images/team-member-3.jpg', alt='')
                            .overlay-bottom
                                ul.social-links.circle.dark.margin-clear
                                    li.skype
                                        a(target='_blank', href='http://www.skype.com')
                                            i.fa.fa-skype
                                    li.linkedin
                                        a(target='_blank', href='http://www.linkedin.com')
                                            i.fa.fa-linkedin
                                    li.xing
                                        a(target='_blank', href='https://www.xing.com/')
                                            i.fa.fa-xing
                        .body
                            h3.margin-clear Anne Crayz
                            small Project Manager
                            .separator.mt-10
                            p.small.margin-clear
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates praesentium nulla cupiditate!
                            a.btn.btn-lg-link.link-dark(href='mailto:info@theproject.com')
                                i.pr-10.fa.fa-envelope-o
                                | Contact Me
        br
        // section end
        section.dark-translucent-bg.pv-30.background-img-1(style='background-position:50% 30%;')
            .container
                .row
                    .col-md-8.col-md-offset-2
                        h2.text-center
                            | Why
                            strong Choose
                            |  Us?
                        .separator
                        p.large.text-center
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.
                .row
                    .col-md-6
                        .row
                            .col-md-6
                                .feature-box-2.object-non-visible.animated.object-visible.fadeInDownSmall(data-animation-effect='fadeInDownSmall', data-effect-delay='100')
                                    span.icon.default-bg.small
                                        i.fa.fa-heart-o
                                    .body
                                        h4.title Clean Code & Design
                                        p
                                            | Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem dolor consectetur.
                            .col-md-6
                                .feature-box-2.object-non-visible.animated.object-visible.fadeInDownSmall(data-animation-effect='fadeInDownSmall', data-effect-delay='150')
                                    span.icon.default-bg.small
                                        i.fa.fa-connectdevelop
                                    .body
                                        h4.title Extremely Flexible
                                        p
                                            | Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.
                            .col-md-6
                                .feature-box-2.object-non-visible.animated.object-visible.fadeInDownSmall(data-animation-effect='fadeInDownSmall', data-effect-delay='200')
                                    span.icon.default-bg.small
                                        i.icon-snow
                                    .body
                                        h4.title Latest Technologies
                                        p
                                            | Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.
                            .col-md-6
                                .feature-box-2.object-non-visible.animated.object-visible.fadeInDownSmall(data-animation-effect='fadeInDownSmall', data-effect-delay='250')
                                    span.icon.default-bg.small
                                        i.icon-check
                                    .body
                                        h4.title Bootstrap Based
                                        p
                                            | Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.
                    .col-md-6
                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(src='//player.vimeo.com/video/29198414?byline=0&portrait=0')
                            p
                                a(href='http://vimeo.com/29198414') Introducing Vimeo Music Store
                                |  from
                                a(href='http://vimeo.com/staff') Vimeo Staff
                                |  on
                                a(href='https://vimeo.com') Vimeo
                                | .
        // section end
        section#services.light-gray-bg.pv-30.clearfix
            .container
                .row
                    .col-md-8.col-md-offset-2
                        h2.text-center
                            | Main
                            strong Services
                        .separator
                        p.large.text-center
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.
                    .col-sm-4
                        .image-box.style-2.mb-20
                            .overlay-container.overlay-visible
                                img(src='template/images/service-1.jpg', alt='')
                                a.overlay-link.popup-img(href='template/images/service-1.jpg')
                                    i.fa.fa-plus
                                .overlay-bottom.hidden-xs
                                    .text
                                        p.lead.margin-clear.text-left Service One
                            .body.padding-horizontal-clear
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.
                    .col-sm-4
                        .image-box.style-2.mb-20
                            .overlay-container.overlay-visible
                                img(src='template/images/service-2.jpg', alt='')
                                a.overlay-link.popup-img(href='template/images/service-2.jpg')
                                    i.fa.fa-plus
                                .overlay-bottom.hidden-xs
                                    .text
                                        p.lead.margin-clear.text-left Service One
                            .body.padding-horizontal-clear
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.
                    .col-sm-4
                        .image-box.style-2.mb-20
                            .overlay-container.overlay-visible
                                img(src='template/images/service-3.jpg', alt='')
                                a.overlay-link.popup-img(href='template/images/service-3.jpg')
                                    i.fa.fa-plus
                                .overlay-bottom.hidden-xs
                                    .text
                                        p.lead.margin-clear.text-left Service One
                            .body.padding-horizontal-clear
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihil, adipisci rem minus? Voluptatem distinctio laborum porro aspernatur.
        // section end
        // section start
        // ================
        section.section.dark-bg.clearfix
            .container
                .row
                    .col-md-12
                        .call-to-action.text-center
                            .row
                                .col-sm-8
                                    h1.title Don't Miss Out Our Offers
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quasi explicabo consequatur consectetur, a atque voluptate officiis eligendi nostrum.
                                .col-sm-4
                                    br
                                    p
                                        a.btn.btn-lg.btn-gray-transparent.btn-animated(href='#')
                                            | Learn More
                                            i.fa.fa-arrow-right.pl-20
        // section end
        // section
        // ================
        section.pv-30
            .container
                .row
                    .col-md-8.col-md-offset-2
                        h2.text-center
                            | More
                            strong Services
                        .separator
                        p.large.text-center
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.
                .row
                    .col-md-4
                        .pv-20.ph-20.feature-box-2.light-gray-bg.boxed.shadow.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='100')
                            span.icon.without-bg
                                i.fa.fa-diamond
                            .body
                                h4.title Clean Code & Design
                                p
                                    | Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem dolor consectetur.
                    .col-md-4
                        .pv-20.ph-20.feature-box-2.light-gray-bg.boxed.shadow.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='150')
                            span.icon.without-bg
                                i.fa.fa-connectdevelop
                            .body
                                h4.title Extremely Flexible
                                p
                                    | Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.
                    .col-md-4
                        .pv-20.ph-20.feature-box-2.light-gray-bg.boxed.shadow.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='200')
                            span.icon.without-bg
                                i.icon-snow
                            .body
                                h4.title Latest Technologies
                                p
                                    | Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.
                .row
                    .col-md-4
                        .pv-20.ph-20.feature-box-2.light-gray-bg.boxed.shadow.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='250')
                            span.icon.without-bg
                                i.icon-megaphone
                            .body
                                h4.title Easy to Use
                                p
                                    | Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem dolor consectetur.
                    .col-md-4
                        .pv-20.ph-20.feature-box-2.light-gray-bg.boxed.shadow.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='300')
                            span.icon.without-bg
                                i.fa.fa-arrows
                            .body
                                h4.title Responsive Design
                                p
                                    | Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.
                    .col-md-4
                        .pv-20.ph-20.feature-box-2.light-gray-bg.boxed.shadow.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='350')
                            span.icon.without-bg
                                i.icon-star-empty
                            .body
                                h4.title Deticated Support
                                p
                                    | Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.
        // section end
        // section start
        // ================
        section#portfolio.section.pv-30.light-gray-bg
            .container
                .row
                    .col-md-8.col-md-offset-2.text-center
                        h2.title
                            span.text-muted Our
                            strong Portfolio
                        .separator
            // isotope filters start
            .filters.text-center
                ul.nav.nav-pills
                    li.active
                        a(href='#', data-filter='*') All
                    li
                        a(href='#', data-filter='.web-design') Web design
                    li
                        a(href='#', data-filter='.app-development') App development
                    li
                        a(href='#', data-filter='.site-building') Site building
            // isotope filters end
            .isotope-container.row.grid-space-0.mb-20
                .col-sm-6.col-md-3.isotope-item.web-design
                    #carousel-portfolio.carousel.slide(data-ride='carousel')
                        // Indicators
                        ol.carousel-indicators.bottom.margin-clear
                            li.active(data-target='#carousel-portfolio', data-slide-to='0')
                            li(data-target='#carousel-portfolio', data-slide-to='1')
                            li(data-target='#carousel-portfolio', data-slide-to='2')
                        // Wrapper for slides
                        .carousel-inner(role='listbox')
                            .item.active
                                .image-box.text-center
                                    .overlay-container
                                        img(src='template/images/portfolio-1.jpg', alt='')
                                        .overlay-top
                                            .text
                                                h3
                                                    a(href='#project-1', data-toggle='modal') Project Title
                                                p.small Web Design
                                        .overlay-bottom
                                            .links
                                                a.btn.btn-gray-transparent.btn-animated.btn-sm(href='#project-1', data-toggle='modal')
                                                    | View Details
                                                    i.pl-10.fa.fa-arrow-right
                            .item
                                .image-box.text-center
                                    .overlay-container
                                        img(src='template/images/portfolio-1-2.jpg', alt='')
                                        .overlay-top
                                            .text
                                                h3
                                                    a(href='#project-1', data-toggle='modal') Project Title
                                                p.small Web Design
                                        .overlay-bottom
                                            .links
                                                a.btn.btn-gray-transparent.btn-animated.btn-sm(href='#project-1', data-toggle='modal')
                                                    | View Details
                                                    i.pl-10.fa.fa-arrow-right
                            .item
                                .image-box.text-center
                                    .overlay-container
                                        img(src='template/images/portfolio-1-3.jpg', alt='')
                                        .overlay-top
                                            .text
                                                h3
                                                    a(href='#project-1', data-toggle='modal') Project Title
                                                p.small Web Design
                                        .overlay-bottom
                                            .links
                                                a.btn.btn-gray-transparent.btn-animated.btn-sm(href='#project-1', data-toggle='modal')
                                                    | View Details
                                                    i.pl-10.fa.fa-arrow-right
                    // Modal
                    #project-1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-1-label', aria-hidden='true')
                        .modal-dialog.modal-lg
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal')
                                        span(aria-hidden='true') ×
                                        span.sr-only Close
                                    h4#project-1-label.modal-title Project Title
                                .modal-body
                                    .row
                                        .col-md-6
                                            h3 Project Description
                                            .separator-2
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                                            p
                                                | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                                        .col-md-6
                                            .owl-carousel.content-slider-with-controls
                                                .overlay-container
                                                    img(src='template/images/portfolio-1.jpg', alt='')
                                                .overlay-container
                                                    img(src='template/images/portfolio-1-2.jpg', alt='')
                                                .overlay-container
                                                    img(src='template/images/portfolio-1-3.jpg', alt='')
                                    .row
                                        .col-md-6.col-xs-6
                                            h3 Project Info
                                            ul.list
                                                li
                                                    strong.vertical-divider Client
                                                    |  John Doe
                                                li
                                                    strong.vertical-divider Date
                                                    |  OCT 2014
                                                li
                                                    strong.vertical-divider In
                                                    |  Web Design
                                                li
                                                    strong.vertical-divider Place
                                                    |  Europe
                                                li
                                                    strong.vertical-divider URL
                                                    a(href='#') www.theproject.com
                                        .col-md-6.col-xs-12
                                            h3 More info
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                                            form(role='form')
                                                .form-group.has-feedback
                                                    input#project-1-email.form-control(type='email', placeholder='Email')
                                                    i.fa.fa-envelope-o.form-control-feedback
                                                a.btn.btn-default.margin-top-clear(href='#') Subscribe
                                .modal-footer
                                    button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                    // Modal end
                .col-sm-6.col-md-3.isotope-item.app-development
                    .image-box.text-center
                        .overlay-container
                            img(src='template/images/portfolio-2.jpg', alt='')
                            .overlay-top
                                .text
                                    h3
                                        a(href='#project-2', data-toggle='modal') Project Title
                                    p.small App Development
                            .overlay-bottom
                                .links
                                    a.btn.btn-gray-transparent.btn-animated.btn-sm(href='#project-2', data-toggle='modal')
                                        | View Details
                                        i.pl-10.fa.fa-arrow-right
                    // Modal
                    #project-2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-2-label', aria-hidden='true')
                        .modal-dialog.modal-lg
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal')
                                        span(aria-hidden='true') ×
                                        span.sr-only Close
                                    h4#project-2-label.modal-title Project Title
                                .modal-body
                                    .row
                                        .col-md-6
                                            h3 Project Description
                                            .separator-2
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                                            p
                                                | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                                        .col-md-6
                                            .owl-carousel.content-slider-with-controls
                                                .overlay-container
                                                    img(src='template/images/portfolio-1.jpg', alt='')
                                                .overlay-container
                                                    img(src='template/images/portfolio-1-2.jpg', alt='')
                                                .overlay-container
                                                    img(src='template/images/portfolio-1-3.jpg', alt='')
                                    .row
                                        .col-md-6.col-xs-6
                                            h3 Project Info
                                            ul.list
                                                li
                                                    strong.vertical-divider Client
                                                    |  John Doe
                                                li
                                                    strong.vertical-divider Date
                                                    |  OCT 2014
                                                li
                                                    strong.vertical-divider In
                                                    |  Web Design
                                                li
                                                    strong.vertical-divider Place
                                                    |  Europe
                                                li
                                                    strong.vertical-divider URL
                                                    a(href='#') www.theproject.com
                                        .col-md-6.col-xs-12
                                            h3 More info
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                                            form(role='form')
                                                .form-group.has-feedback
                                                    input#project-2-email.form-control(type='email', placeholder='Email')
                                                    i.fa.fa-envelope-o.form-control-feedback
                                                a.btn.btn-default.margin-top-clear(href='#') Subscribe
                                .modal-footer
                                    button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                    // Modal end
                .col-sm-6.col-md-3.isotope-item.app-development
                    .image-box.text-center
                        .overlay-container
                            img(src='template/images/portfolio-3.jpg', alt='')
                            .overlay-top
                                .text
                                    h3
                                        a(href='#project-3', data-toggle='modal') Project Title
                                    p.small App Development
                            .overlay-bottom
                                .links
                                    a.btn.btn-gray-transparent.btn-animated.btn-sm(href='#project-3', data-toggle='modal')
                                        | View Details
                                        i.pl-10.fa.fa-arrow-right
                    // Modal
                    #project-3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-3-label', aria-hidden='true')
                        .modal-dialog.modal-lg
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal')
                                        span(aria-hidden='true') ×
                                        span.sr-only Close
                                    h4#project-3-label.modal-title Project Title
                                .modal-body
                                    .row
                                        .col-md-6
                                            h3 Project Description
                                            .separator-2
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                                            p
                                                | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                                        .col-md-6
                                            .owl-carousel.content-slider-with-controls
                                                .overlay-container
                                                    img(src='template/images/portfolio-1.jpg', alt='')
                                                .overlay-container
                                                    img(src='template/images/portfolio-1-2.jpg', alt='')
                                                .overlay-container
                                                    img(src='template/images/portfolio-1-3.jpg', alt='')
                                    .row
                                        .col-md-6.col-xs-6
                                            h3 Project Info
                                            ul.list
                                                li
                                                    strong.vertical-divider Client
                                                    |  John Doe
                                                li
                                                    strong.vertical-divider Date
                                                    |  OCT 2014
                                                li
                                                    strong.vertical-divider In
                                                    |  Web Design
                                                li
                                                    strong.vertical-divider Place
                                                    |  Europe
                                                li
                                                    strong.vertical-divider URL
                                                    a(href='#') www.theproject.com
                                        .col-md-6.col-xs-12
                                            h3 More info
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                                            form(role='form')
                                                .form-group.has-feedback
                                                    input#project-3-email.form-control(type='email', placeholder='Email')
                                                    i.fa.fa-envelope-o.form-control-feedback
                                                a.btn.btn-default.margin-top-clear(href='#') Subscribe
                                .modal-footer
                                    button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                    // Modal end
                .col-sm-6.col-md-3.isotope-item.web-design
                    .image-box.text-center
                        .overlay-container
                            img(src='template/images/portfolio-4.jpg', alt='')
                            .overlay-top
                                .text
                                    h3
                                        a(href='#project-4', data-toggle='modal') Project Title
                                    p.small Web Design
                            .overlay-bottom
                                .links
                                    a.btn.btn-gray-transparent.btn-animated.btn-sm(href='#project-4', data-toggle='modal')
                                        | View Details
                                        i.pl-10.fa.fa-arrow-right
                    // Modal
                    #project-4.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-4-label', aria-hidden='true')
                        .modal-dialog.modal-lg
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal')
                                        span(aria-hidden='true') ×
                                        span.sr-only Close
                                    h4#project-4-label.modal-title Project Title
                                .modal-body
                                    .row
                                        .col-md-6
                                            h3 Project Description
                                            .separator-2
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                                            p
                                                | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                                        .col-md-6
                                            .owl-carousel.content-slider-with-controls
                                                .overlay-container
                                                    img(src='template/images/portfolio-1.jpg', alt='')
                                                .overlay-container
                                                    img(src='template/images/portfolio-1-2.jpg', alt='')
                                                .overlay-container
                                                    img(src='template/images/portfolio-1-3.jpg', alt='')
                                    .row
                                        .col-md-6.col-xs-6
                                            h3 Project Info
                                            ul.list
                                                li
                                                    strong.vertical-divider Client
                                                    |  John Doe
                                                li
                                                    strong.vertical-divider Date
                                                    |  OCT 2014
                                                li
                                                    strong.vertical-divider In
                                                    |  Web Design
                                                li
                                                    strong.vertical-divider Place
                                                    |  Europe
                                                li
                                                    strong.vertical-divider URL
                                                    a(href='#') www.theproject.com
                                        .col-md-6.col-xs-12
                                            h3 More info
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                                            form(role='form')
                                                .form-group.has-feedback
                                                    input#project-4-email.form-control(type='email', placeholder='Email')
                                                    i.fa.fa-envelope-o.form-control-feedback
                                                a.btn.btn-default.margin-top-clear(href='#') Subscribe
                                .modal-footer
                                    button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                    // Modal end
                .col-sm-6.col-md-3.isotope-item.site-building
                    .image-box.text-center
                        .overlay-container
                            img(src='template/images/portfolio-5.jpg', alt='')
                            .overlay-top
                                .text
                                    h3
                                        a(href='#project-5', data-toggle='modal') Project Title
                                    p.small Site Building
                            .overlay-bottom
                                .links
                                    a.btn.btn-gray-transparent.btn-animated.btn-sm(href='#project-5', data-toggle='modal')
                                        | View Details
                                        i.pl-10.fa.fa-arrow-right
                    // Modal
                    #project-5.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-5-label', aria-hidden='true')
                        .modal-dialog.modal-lg
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal')
                                        span(aria-hidden='true') ×
                                        span.sr-only Close
                                    h4#project-5-label.modal-title Project Title
                                .modal-body
                                    .row
                                        .col-md-6
                                            h3 Project Description
                                            .separator-2
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                                            p
                                                | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                                        .col-md-6
                                            .owl-carousel.content-slider-with-controls
                                                .overlay-container
                                                    img(src='template/images/portfolio-1.jpg', alt='')
                                                .overlay-container
                                                    img(src='template/images/portfolio-1-2.jpg', alt='')
                                                .overlay-container
                                                    img(src='template/images/portfolio-1-3.jpg', alt='')
                                    .row
                                        .col-md-6.col-xs-6
                                            h3 Project Info
                                            ul.list
                                                li
                                                    strong.vertical-divider Client
                                                    |  John Doe
                                                li
                                                    strong.vertical-divider Date
                                                    |  OCT 2014
                                                li
                                                    strong.vertical-divider In
                                                    |  Web Design
                                                li
                                                    strong.vertical-divider Place
                                                    |  Europe
                                                li
                                                    strong.vertical-divider URL
                                                    a(href='#') www.theproject.com
                                        .col-md-6.col-xs-12
                                            h3 More info
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                                            form(role='form')
                                                .form-group.has-feedback
                                                    input#project-5-email.form-control(type='email', placeholder='Email')
                                                    i.fa.fa-envelope-o.form-control-feedback
                                                a.btn.btn-default.margin-top-clear(href='#') Subscribe
                                .modal-footer
                                    button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                    // Modal end
                .col-sm-6.col-md-3.isotope-item.app-development
                    .image-box.text-center
                        .overlay-container
                            img(src='template/images/portfolio-6.jpg', alt='')
                            .overlay-top
                                .text
                                    h3
                                        a(href='#project-6', data-toggle='modal') Project Title
                                    p.small App Development
                            .overlay-bottom
                                .links
                                    a.btn.btn-gray-transparent.btn-animated.btn-sm(href='#project-6', data-toggle='modal')
                                        | View Details
                                        i.pl-10.fa.fa-arrow-right
                    // Modal
                    #project-6.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-6-label', aria-hidden='true')
                        .modal-dialog.modal-lg
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal')
                                        span(aria-hidden='true') ×
                                        span.sr-only Close
                                    h4#project-6-label.modal-title Project Title
                                .modal-body
                                    .row
                                        .col-md-6
                                            h3 Project Description
                                            .separator-2
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                                            p
                                                | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                                        .col-md-6
                                            .owl-carousel.content-slider-with-controls
                                                .overlay-container
                                                    img(src='template/images/portfolio-1.jpg', alt='')
                                                .overlay-container
                                                    img(src='template/images/portfolio-1-2.jpg', alt='')
                                                .overlay-container
                                                    img(src='template/images/portfolio-1-3.jpg', alt='')
                                    .row
                                        .col-md-6.col-xs-6
                                            h3 Project Info
                                            ul.list
                                                li
                                                    strong.vertical-divider Client
                                                    |  John Doe
                                                li
                                                    strong.vertical-divider Date
                                                    |  OCT 2014
                                                li
                                                    strong.vertical-divider In
                                                    |  Web Design
                                                li
                                                    strong.vertical-divider Place
                                                    |  Europe
                                                li
                                                    strong.vertical-divider URL
                                                    a(href='#') www.theproject.com
                                        .col-md-6.col-xs-12
                                            h3 More info
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                                            form(role='form')
                                                .form-group.has-feedback
                                                    input#project-6-email.form-control(type='email', placeholder='Email')
                                                    i.fa.fa-envelope-o.form-control-feedback
                                                a.btn.btn-default.margin-top-clear(href='#') Subscribe
                                .modal-footer
                                    button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                    // Modal end
                .col-sm-6.col-md-3.isotope-item.site-building
                    .image-box.text-center
                        .overlay-container
                            img(src='template/images/portfolio-7.jpg', alt='')
                            .overlay-top
                                .text
                                    h3
                                        a(href='#project-7', data-toggle='modal') Project Title
                                    p.small Site Building
                            .overlay-bottom
                                .links
                                    a.btn.btn-gray-transparent.btn-animated.btn-sm(href='#project-7', data-toggle='modal')
                                        | View Details
                                        i.pl-10.fa.fa-arrow-right
                    // Modal
                    #project-7.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-7-label', aria-hidden='true')
                        .modal-dialog.modal-lg
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal')
                                        span(aria-hidden='true') ×
                                        span.sr-only Close
                                    h4#project-7-label.modal-title Project Title
                                .modal-body
                                    .row
                                        .col-md-6
                                            h3 Project Description
                                            .separator-2
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                                            p
                                                | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                                        .col-md-6
                                            .owl-carousel.content-slider-with-controls
                                                .overlay-container
                                                    img(src='template/images/portfolio-1.jpg', alt='')
                                                .overlay-container
                                                    img(src='template/images/portfolio-1-2.jpg', alt='')
                                                .overlay-container
                                                    img(src='template/images/portfolio-1-3.jpg', alt='')
                                    .row
                                        .col-md-6.col-xs-6
                                            h3 Project Info
                                            ul.list
                                                li
                                                    strong.vertical-divider Client
                                                    |  John Doe
                                                li
                                                    strong.vertical-divider Date
                                                    |  OCT 2014
                                                li
                                                    strong.vertical-divider In
                                                    |  Web Design
                                                li
                                                    strong.vertical-divider Place
                                                    |  Europe
                                                li
                                                    strong.vertical-divider URL
                                                    a(href='#') www.theproject.com
                                        .col-md-6.col-xs-12
                                            h3 More info
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                                            form(role='form')
                                                .form-group.has-feedback
                                                    input#project-7-email.form-control(type='email', placeholder='Email')
                                                    i.fa.fa-envelope-o.form-control-feedback
                                                a.btn.btn-default.margin-top-clear(href='#') Subscribe
                                .modal-footer
                                    button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                    // Modal end
                .col-sm-6.col-md-3.isotope-item.app-development
                    .image-box.text-center
                        .overlay-container
                            img(src='template/images/portfolio-8.jpg', alt='')
                            .overlay-top
                                .text
                                    h3
                                        a(href='#project-8', data-toggle='modal') Project Title
                                    p.small App Development
                            .overlay-bottom
                                .links
                                    a.btn.btn-gray-transparent.btn-animated.btn-sm(href='#project-8', data-toggle='modal')
                                        | View Details
                                        i.pl-10.fa.fa-arrow-right
                    // Modal
                    #project-8.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-8-label', aria-hidden='true')
                        .modal-dialog.modal-lg
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal')
                                        span(aria-hidden='true') ×
                                        span.sr-only Close
                                    h4#project-8-label.modal-title Project Title
                                .modal-body
                                    .row
                                        .col-md-6
                                            h3 Project Description
                                            .separator-2
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                                            p
                                                | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                                        .col-md-6
                                            .owl-carousel.content-slider-with-controls
                                                .overlay-container
                                                    img(src='template/images/portfolio-1.jpg', alt='')
                                                .overlay-container
                                                    img(src='template/images/portfolio-1-2.jpg', alt='')
                                                .overlay-container
                                                    img(src='template/images/portfolio-1-3.jpg', alt='')
                                    .row
                                        .col-md-6.col-xs-6
                                            h3 Project Info
                                            ul.list
                                                li
                                                    strong.vertical-divider Client
                                                    |  John Doe
                                                li
                                                    strong.vertical-divider Date
                                                    |  OCT 2014
                                                li
                                                    strong.vertical-divider In
                                                    |  Web Design
                                                li
                                                    strong.vertical-divider Place
                                                    |  Europe
                                                li
                                                    strong.vertical-divider URL
                                                    a(href='#') www.theproject.com
                                        .col-md-6.col-xs-12
                                            h3 More info
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                                            form(role='form')
                                                .form-group.has-feedback
                                                    input#project-8-email.form-control(type='email', placeholder='Email')
                                                    i.fa.fa-envelope-o.form-control-feedback
                                                a.btn.btn-default.margin-top-clear(href='#') Subscribe
                                .modal-footer
                                    button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                    // Modal end
            .owl-carousel.content-slider.space-top
                .container
                    .row
                        .col-md-8.col-md-offset-2
                            .testimonial.text-center
                                .testimonial-image
                                    img.img-circle(src='template/images/testimonial-1.jpg', alt='Jane Doe', title='Jane Doe')
                                h3 Just Perfect!
                                .separator
                                .testimonial-body
                                    blockquote
                                        p
                                            | Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium, totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.
                                    .testimonial-info-1 - Jane Doe
                                    .testimonial-info-2 By Company
                .container
                    .row
                        .col-md-8.col-md-offset-2
                            .testimonial.text-center
                                .testimonial-image
                                    img.img-circle(src='template/images/testimonial-2.jpg', alt='Jane Doe', title='Jane Doe')
                                h3 Amazing!
                                .separator
                                .testimonial-body
                                    blockquote
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel!
                                    .testimonial-info-1 - Jane Doe
                                    .testimonial-info-2 By Company
            .container
                .clients-container
                    .clients
                        .client-image.object-non-visible(data-animation-effect='fadeIn', data-effect-delay='100')
                            a(href='#')
                                img(src='template/images/client-1.png', alt='')
                        .client-image.object-non-visible(data-animation-effect='fadeIn', data-effect-delay='200')
                            a(href='#')
                                img(src='template/images/client-2.png', alt='')
                        .client-image.object-non-visible(data-animation-effect='fadeIn', data-effect-delay='300')
                            a(href='#')
                                img(src='template/images/client-3.png', alt='')
                        .client-image.object-non-visible(data-animation-effect='fadeIn', data-effect-delay='400')
                            a(href='#')
                                img(src='template/images/client-4.png', alt='')
                        .client-image.object-non-visible(data-animation-effect='fadeIn', data-effect-delay='500')
                            a(href='#')
                                img(src='template/images/client-5.png', alt='')
                        .client-image.object-non-visible(data-animation-effect='fadeIn', data-effect-delay='600')
                            a(href='#')
                                img(src='template/images/client-6.png', alt='')
                        .client-image.object-non-visible(data-animation-effect='fadeIn', data-effect-delay='700')
                            a(href='#')
                                img(src='template/images/client-7.png', alt='')
                        .client-image.object-non-visible(data-animation-effect='fadeIn', data-effect-delay='800')
                            a(href='#')
                                img(src='template/images/client-8.png', alt='')
        // section end
        // section start
        // ================
        section.pv-40.stats.padding-bottom-clear.dark-translucent-bg.hovered.background-img-6
            .clearfix
                .col-md-3.col-xs-6.text-center
                    .feature-box.object-non-visible(data-animation-effect='fadeIn', data-effect-delay='300')
                        span.icon.dark-bg.large.circle
                            i.fa.fa-diamond
                        h3
                            strong Projects
                        span.counter(data-to='1525', data-speed='5000') 0
                .col-md-3.col-xs-6.text-center
                    .feature-box.object-non-visible(data-animation-effect='fadeIn', data-effect-delay='300')
                        span.icon.dark-bg.large.circle
                            i.fa.fa-users
                        h3
                            strong Clients
                        span.counter(data-to='1225', data-speed='5000') 0
                .col-md-3.col-xs-6.text-center
                    .feature-box.object-non-visible(data-animation-effect='fadeIn', data-effect-delay='300')
                        span.icon.dark-bg.large.circle
                            i.fa.fa-cloud-download
                        h3
                            strong Downloads
                        span.counter(data-to='12235', data-speed='5000') 0
                .col-md-3.col-xs-6.text-center
                    .feature-box.object-non-visible(data-animation-effect='fadeIn', data-effect-delay='300')
                        span.icon.dark-bg.large.circle
                            i.fa.fa-share
                        h3
                            strong Shares
                        span.counter(data-to='15002', data-speed='5000') 0
            // footer top start
            // ================
            .dark-translucent-bg.footer-top.animated-text.default-hovered(style='background-color:rgba(0,0,0,0.6);')
                .container
                    .row
                        .col-md-12
                            .call-to-action.text-center
                                .row
                                    .col-sm-8
                                        h2 Powerful Bootstrap Template
                                        h2 Waste no more time
                                    .col-sm-4
                                        p.mt-10
                                            a.btn.btn-animated.btn-lg.btn-gray-transparent(href='#')
                                                | Purchase
                                                i.fa.fa-cart-arrow-down.pl-20
            // footer top end
        // section end
        // footer start (Add "dark" class to #footer in order to enable dark footer)
        // ================
        footer#footer.clearfix
            // .footer start
            // ================
            .footer
                .container
                    .footer-inner
                        .row
                            .col-md-6
                                .footer-content
                                    .logo-footer
                                        img#logo-footer(src='template/images/logo_light_blue.png', alt='')
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus illo vel dolorum soluta consectetur doloribus sit. Delectus non tenetur odit dicta vitae debitis suscipit doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dolore fugit vitae quia dicta inventore reiciendis. Ipsa, aut voluptas quaerat.
                                    ul.list-inline.mb-20
                                        li
                                            i.text-default.fa.fa-map-marker.pr-5
                                            |  One infinity loop, 54100
                                        li
                                            i.text-default.fa.fa-phone.pl-10.pr-5
                                            |  +00 1234567890
                                        li
                                            a.link-dark(href='mailto:info@theproject.com')
                                                i.text-default.fa.fa-envelope-o.pl-10.pr-5
                                                |  info@theproject.com
                                    .separator-2
                                    ul.social-links.circle.margin-clear.animated-effect-1
                                        li.facebook
                                            a(target='_blank', href='http://www.facebook.com')
                                                i.fa.fa-facebook
                                        li.twitter
                                            a(target='_blank', href='http://www.twitter.com')
                                                i.fa.fa-twitter
                                        li.googleplus
                                            a(target='_blank', href='http://plus.google.com')
                                                i.fa.fa-google-plus
                                        li.linkedin
                                            a(target='_blank', href='http://www.linkedin.com')
                                                i.fa.fa-linkedin
                                        li.xing
                                            a(target='_blank', href='http://www.xing.com')
                                                i.fa.fa-xing
                                        li.skype
                                            a(target='_blank', href='http://www.skype.com')
                                                i.fa.fa-skype
                                        li.youtube
                                            a(target='_blank', href='https://www.youtube.com')
                                                i.fa.fa-youtube
                                        li.dribbble
                                            a(target='_blank', href='https://dribbble.com/')
                                                i.fa.fa-dribbble
                                        li.pinterest
                                            a(target='_blank', href='http://www.pinterest.com')
                                                i.fa.fa-pinterest
                                        li.flickr
                                            a(target='_blank', href='http://www.flickr.com')
                                                i.fa.fa-flickr
                                        li.instagram
                                            a(target='_blank', href='http://www.instagram.com')
                                                i.fa.fa-instagram
                            .col-md-6
                                .footer-content
                                    h2.title Contact Us
                                    #MessageSent2.alert.alert-success.hidden
                                        | We have received your message, we will contact you very soon.
                                    #MessageNotSent2.alert.alert-danger.hidden
                                        | Oops! Something went wrong please refresh the page and try again.
                                    form#footer-form.margin-clear(role='form')
                                        .form-group.has-feedback.mb-10
                                            label.sr-only(for='name2') Name
                                            input#name2.form-control(type='text', placeholder='Name', name='name2')
                                            i.fa.fa-user.form-control-feedback
                                        .form-group.has-feedback.mb-10
                                            label.sr-only(for='email2') Email address
                                            input#email2.form-control(type='email', placeholder='Enter email', name='email2')
                                            i.fa.fa-envelope.form-control-feedback
                                        .form-group.has-feedback.mb-10
                                            label.sr-only(for='message2') Message
                                            textarea#message2.form-control(rows='4', placeholder='Message', name='message2')
                                            i.fa.fa-pencil.form-control-feedback
                                        input.margin-clear.submit-button.btn.btn-default(type='submit', value='Send')
            // .footer end
            // .subfooter start
            // ================
            .subfooter
                .container
                    .subfooter-inner
                        .row
                            .col-md-12
                                p.text-center
                                    | Copyright © 2016 The Project by
                                    a(target='_blank', href='http://htmlcoder.me') HtmlCoder
                                    | . All Rights Reserved
            // .subfooter end
        // footer end

        // section end
        // section start
        // ================
        //.pv-40.dark-translucent-bg
        //    .container
        //        .row
        //            .col-md-12
        //                .call-to-action.text-center
        //                    form.form-inline.margin-clear
        //                        .form-group.has-feedback
        //                            label.sr-only(for='subscribe3') Email address
        //                            input#subscribe3.form-control.form-control-lg(type='email', placeholder='Enter email', name='subscribe3', required='')
        //                            i.fa.fa-envelope.form-control-feedback
        //                        button.btn.btn-lg.btn-gray-transparent.btn-animated.margin-clear(type='submit')
        //                            | Subscribe
        //                            i.fa.fa-send
        // section end
    // banner end
    //br
    //br
    //.container
    //    .col-lg-2
    //    .col-lg-8
    //        .row.mb-20
    //            .col-md-6
    //                .feature-box-2.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='100')
    //                    span.icon.default-bg.small
    //                        i.fa.fa-heart-o
    //                    .body
    //                        h4.title Mock interviews
    //                        ul
    //                            li Schedule an appointment for a video mock interview
    //                            li Get customised feedback
    //                            li Full interview is downloadable so that you can practice on your own as well
    //                            li Get noticed and allow recruiters to access your best interview samples!
    //            .col-md-6
    //                .feature-box-2.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='150')
    //                    span.icon.default-bg.small
    //                        i.fa.fa-connectdevelop
    //                    .body
    //                        h4.title Apply for offers
    //                        ul
    //                            li Browse through our job & internship opportunities
    //                            li To apply, schedule an appointment for a video mock interview
    //                            li Excerpts from your mock interview are directly send to the recruiter!
    //        .row.text-center
    //            .col-md-6
    //                a(href="user-register").btn.btn-default Schedule a mock interview
    //            .col-md-6
    //                a(href="offers").btn.btn-default Discover our offers



    //.col-lg-2
    //.col-lg-8
    //    .row
    //
    //        h3 Benefit from mock interviews and customised advise while getting noticed from recruiters who will browse through your best video interview samples!
    //        h3 Réussissez vos entretiens d'embauche et bénéficiez de conseils personalisés en effectuant des simulations d'entretiens en ligne puis choisissiez les extraits accessibles à nos recruteurs!
    //        br
    //        br
    //
    //    .row
    //        .col-md-6
    //            ul
    //                li Schedule an appointment for a video mock interview
    //                li Get customised feedback
    //                li Full interview is downloadable so that you can practice on your own as well
    //                li Get noticed and allow recruiters to access your best interview samples!
    //
    //        .col-md-6
    //            ul
    //                li Browse through our job & internship opportunities
    //                li To apply, schedule an appointment for a video mock interview
    //                li Excerpts from your mock interview are directly send to the recruiter!
    //    .row.text-center
    //        br
    //        br
    //        .col-md-6
    //            a(href="user-register").btn.btn-default Schedule a mock interview
    //        .col-md-6
    //            a(href="offers").btn.btn-default Discover our offers
    //
    //
    //.col-lg-2
