extends layout

include ../_includes/sharedHTMLfunctions

block content

    .col-lg-2.text-center
    .col-lg-8
        .row
            h2=catchphrase
            br
            h3 Un concept novateur qui vous permet de beneficier de conseils personalises tout en permettant aux entreprises ciblees d'acceder a vos meilleurs sequences d'entretien
            br
            br

        .row
            .container
                .col-md-4
                    ul
                        li Simulation personnalisée d'entretien sur Skype
                        li Feedback détaillé et axes d'amélioration
                        li Accès à l'intègralité de la simulation en format vidéo
                        li Option de mise en ligne de séquences pour mise à disposition de nos entreprises partenaires

                .col-md-4
                    ul
                        li Consultez nos offres et postulez
                        li Effectuez une ou plusieurs simulation(s) personnalisée(s) d'entretien en ligne suivi de feedback
                        li Accès à l'intègralité de la simulation en format vidéo
        .row
            br
            br
            .container.text-center
                .col-md-4
                    a(href="user-register").btn.btn-default Planifier une simulation d'entretien
                .col-md-4
                    a(href="offers").btn.btn-default Parcourir nos offres


    .col-lg-2.text-center