extends layout

block content

    - var page = 'myInterviews';

    .col-lg-2.text-center
    .col-lg-8
        h2 Interview (pierre.thiery@gmail.com)
        br
        br
        .container
            .row
                include ../_includes/user-menu.jade

            div Interview du lundi 31 mai 2016 17:30

            .col-lg-6(style='padding:5px')
                div Sequence DCF
                video(controls width="320" height="240" poster="images/video-poster.png")
                    source(src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4")
                    Your browser does not support the video tag.
            .col-lg-6(style='padding:5px')
                div Sequence Consolidation
                video(controls width="320" height="240" poster="images/video-poster.png")
                    source(src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4")
                    Your browser does not support the video tag.

    .col-lg-2.text-center
