doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-1.12.3.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/javascripts/validation.js')

    body
        nav.navbar.navbar-inverse(role="navigation")
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(href='/').navbar-brand DemandeAuFinaud
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/about') About us
                        li
                            a(href='/blog') Blog
                    ul.nav.navbar-nav.navbar-right

                        if(!session.authenticated)
                            li
                                if(session.role == 'recruiter')
                                    a(href='/') For candidates
                                else if(session.role == 'user')
                                    a(href='/recruiter') For recruiters
                                else
                                    | No session set
                        else if(session.role == 'user')
                            li
                                a(href='/simulation') Mock interviews
                            li
                                a() |
                            li
                                a(href='/offers') Our offers

                        -var loginUrl
                        -var registerUrl

                        if(session.role == 'user')
                            -loginUrl = 'user-login/'
                            -registerUrl = 'user-register'
                        else
                            -loginUrl = '/recruiter/recruiter-login/'
                            -registerUrl = '/recruiter/recruiter-register'

                        li
                            a(href='/change-language/fr') FR
                        li
                            a(href='/change-language/en') EN
                        if(session.authenticated)
                            li
                                a(href="user-logout/") Sign out
                        else
                            li
                                a(href="#{loginUrl}") Log in
                            li
                                a(href="#{registerUrl}") Register

        .container
            .row

                block content
