extends layout

block content

    .col-lg-2.text-center
    .col-lg-8
        .row
            h3 Cher #{session.fullName}

            h4 Votre compte n'est pas encore actif, nous allons vous contacter bientot
            //h4 Your account is not active yet, we will contact you shortly