
extends layout

block content

    .col-lg-2.text-center
    .col-lg-8
        .row

            h3 Browse offers

            include ../_includes/search-offers

            if (offers && offers.length > 0)
                h3 Results
                include ../_includes/offers-result
            else if (message)
                h3=message

        .row

        .row



    .col-lg-2.text-center