extends layout

block content

    .main-container.dark-translucent-bg(style="background-image:url('/images/montagne1.jpg');")
        .container
            .row
                // main start
                // ================
                .main.object-non-visible(data-animation-effect='fadeInUpSmall', data-effect-delay='100')
                    .form-block.center-block.p-30.light-gray-bg.border-clear

                        h2.title Reset Password

                        form.form-horizontal(id="loginForm", action="", method="post", role="form")

                            if(error)
                                .alert.alert-danger(role="alert") #{error}

                            p
                            br

                            p Thank you the instructions have been sent.

                            br
                            p The link provided in the email will only be valid for 30 minutes.
                            br
                            br


