extends layout

block content

    .main-container.dark-translucent-bg(style="background-image:url('/images/montagne1.jpg');")
        .container
            .row
                // main start
                // ================
                .main.object-non-visible(data-animation-effect='fadeInUpSmall', data-effect-delay='100')
                    .form-block.center-block.p-30.light-gray-bg.border-clear

                        h2.title Reset Password

                        form.form-horizontal(id="resetEmailForm", action="", method="post", role="form")

                            if(error)
                                .alert.alert-danger(role="alert") #{error}

                            p Please provide your email address and we'll send you an email with instructions
                            br
                            .form-group.has-feedback
                                label.col-sm-3.control-label(for='email') Email
                                .col-sm-8
                                    input#email(type="email", name="email", placeholder="Email", required='', value="#{formData.email}").form-control
                                    i.fa.fa-user.form-control-feedback

                            .form-group
                                .col-sm-offset-3.col-sm-8
                                    //.checkbox
                                    //    label
                                    //        input(type='checkbox', required='')
                                    //        |  Remember me.
                                    button.btn.btn-group.btn-default.btn-animated(type='submit')
                                        | Send
                                        i.fa.fa-user

