extends layout

block content

    - var page = 'personal-information';

    .col-lg-2.text-center
    .col-lg-8
        .container
            .row
                h2 My personal information

            .row
                include ../_includes/user-menu.jade
            .row
                .col-lg-6(style='padding:10px')

                    h4 Prochaine(s) simulation(s) d'entretien:


