
.form-group.required .control-label:after {
    content:"*";
    color:red;
}

.row-margin {
    margin-top: 10px;
    margin-bottom: 10px
}

.progress-bar span{
    display: block;
    position: absolute;
    width: 90%;
}

.notransition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

/*.container dt,.container dd {*/
    /*width:auto;*/
    /*margin-left:auto;*/
    /*//display:inline-block;*/
    /*margin-right: 10px;*/
/*}*/

/*.dl-horizontal dt*/
/*{*/
    /*white-space: normal;*/
    /*width: 200px;*/
/*}*/

.container dt,.container dd {
    width:auto;

}