/*body {*/
    /*background: url(../images/bg-user.jpg) no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
/*}*/

/*.col-lg-8{*/
    /*background-color: #FFFFFF;*/
/*}*/


/*.form-group.required .control-label:after {*/
    /*content:"*";*/
    /*color:red;*/
/*}*/



.row-margin {
    margin-top: 10px;
    margin-bottom: 10px
}

.progress-bar span{
    display: block;
    position: absolute;
    width: 90%;
}

.notransition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.container dt,.container dd {
    width:auto;
    margin-top: 10px;

}
