.panel-group
each offer in offers
    .panel.panel-default
        .panel-heading=offer.sectorText + ' - ' + offer.location
        .panel-body !{offer.text}
        if(session.role == 'user')
        ul.list-group
            li.list-group-item.text-center
                a(href="/apply/#{offer.id}") Apply