.panel-group
each offer in offers
    .panel.panel-default
        .panel-heading=offer.offerTypeText + ' - ' + offer.sectorText + ' - ' + offer.companyTypeText + ' - ' + offer.location
        .panel-body !{offer.text}
        if(session.role == 'user')
        ul.list-group
            li.list-group-item.text-center

                if(offer.idUser)
                    | You have already applied
                else
                    a(href="/apply/#{offer.id}") Apply