script.
    $(document).ready(function () {
        $('#sector').change(function () {

            $.ajax({
                type: 'GET',
                data: {sector: $('#sector').val()},
                url: '/getPositions',
                success: function (data) {

                    var select = $("#position")[0];

                    $('#position').empty();
                    select.add(new Option('Tous', '0'));
                    for (var key in data) {
                        if (data.hasOwnProperty(key)) {

                            select.add(new Option(data[key], key));

                        }
                    }
                }
            });
        });
    });