
.col-lg-8(style='padding:10px')
    a.btn.btn-default.btn-med(href='mon-compte' class=page=='myInterviews'?'active':undefined) Mes Interviews
    |&nbsp;&nbsp;
    a.btn.btn-default.btn-med(href='personal-information' class=page=='myInformation'?'active':undefined) Mes messages des recruteurs
    |&nbsp;&nbsp;
    a.btn.btn-default.btn-med(href='personal-information' class=page == 'myInformation' ? 'active' : undefined) Informations personnelles