extends template

block content

    p Dear Admin,

    p #{data.name} has made an inquiry:

    p #{data.message}

    p Please respond to him on #{data.email}

    p The Interviewing Team @ SkipThe FirstRound.com