extends template

block content

    p Dear #{data.firstName} #{data.lastName}

    p Thank you very much for getting in touch and registering with us

    p Your user name is your email address: #{data.email}

    p To easily browse through exclusive excerpts of video interviews please get in touch to post an offer!

    p The Interviewing Team @ SkipThe FirstRound.com