extends template

block content

    p Bonjour #{data.userName},

    p Merci de vous etes enregistre sur SkipTheFirstRound.com

    p Nous allons vous contacter d'ici 24h afin d'activer votre compte.

    p The Interviewing Team @ SkipTheFirstRound.com