extends template

block content

    p Dear #{data.firstName} #{data.lastName},

    p Thank you very much for getting in touch we will get back to you within the next 12 hours.

    p Your user name is: #{data.email}

    p The Interviewing Team @ SkipThe FirstRound.com