extends template

block content

    p Bonjour #{data.userName},

    p Nous avons le plaisir de vous annoncer que votre compte a été activé

    p Veuillez y accéder en vous connectant &nbsp;
        a(href='http://www.skipthefirstround.com/recruiter/recruiter-login') ici

