html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
        title SkipTheFirstRound | Registration
    body(style='margin: 0; padding: 0;')
        table(width='100%', cellspacing='0', cellpadding='0', border='0')
            tbody
                tr
                    td
                        table(width='600', cellspacing='0', cellpadding='0', border='0', align='center', style='border-collapse: collapse;')
                            tbody
                                tr
                                    td(style='padding:15px 0 0 0;')
                                        table(width='580', cellspacing='0', cellpadding='0', border='0', align='center', style='border-collapse: collapse;')
                                            tbody
                                                tr
                                                    td
                                                        table(width='200', cellspacing='0', cellpadding='0', border='0', align='center', style='border-collapse: collapse;')
                                                            // logo
                                                            tbody
                                                                tr
                                                                    td(align='')
                                                                        a(href='wwww.skipthefirstround.com')
                                                                            img(style='display: block;', alt='Company Logo', src='/images/logo.png')
                                                                // company slogan
                                                                tr
                                                                    td(width='100%', align='left', style='font-size: 12px; line-height: 18px; font-family:helvetica, Arial, sans-serif; color:#999999;')
                                                                        | Recruiting made easier
                                                                // Space
                                                                tr
                                                                    td(height='15', style='font-size: 0; line-height: 0;')
                          //// Section End
                        // Banner Start
                        table(width='600', cellspacing='0', cellpadding='0', border='0', align='center', style='border-collapse: collapse;')
                            tbody
                                tr
                                    td
                                        table(width='580', cellspacing='0', cellpadding='0', border='0', align='center', style='border-collapse: collapse;')
                                            tbody
                                                tr
                                                    td
                                                        table(width='100%', cellspacing='0', cellpadding='0', border='0', align='center', style='border-collapse: collapse;')
                                                            tbody
                                                                tr
                                                                    td

                                                                        div(style="font-size: 14px; text-align: justify; font-family:helvetica, Arial, sans-serif; color:#343434;")

                                                                            block content


                                                                        // Space
                                                                        table(width='100%', cellspacing='0', cellpadding='0', border='0', align='center', style='border-collapse: collapse;')
                                                                            tbody
                                                                                tr
                                                                                    td(height='30', style='font-size: 0; line-height: 0;')


                        // Footer End
                        // Subfooter Start
                        table(width='600', cellspacing='0', cellpadding='0', border='0', align='center', style='border-collapse: collapse;')
                            tbody
                                tr
                                    td
                                        table(width='580', cellspacing='0', cellpadding='0', border='0', bgcolor='#f5f5f5', align='center', style='border-collapse: collapse;')
                                            tbody
                                                tr
                                                    td
                                                        // Space
                                                        table(width='100%', cellspacing='0', cellpadding='0', border='0', align='center', style='border-collapse: collapse;')
                                                            tbody
                                                                tr
                                                                    td(height='1', bgcolor='#eaeaea', style='font-size: 0; line-height: 0;')
                                                                tr
                                                                    td(height='20', style='font-size: 0; line-height: 0;')
                                                        table(width='540', cellspacing='0', cellpadding='0', border='0', align='center', style='border-collapse: collapse;')
                                                            tbody
                                                                tr
                                                                    td(align='center', style='color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;')
                                                                        | Copyright © 2016 SkipTheFirstRound
                                                                        //a(style='color: #3697d9; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;', href='http://www.htmlcoder.me') HtmlCoder
                                                                        //| . All Rights Reserved /
                                                                        //a(style='color: #3697d9; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;', href='#')  Unsubscribe
                                                        // Space
                                                        table(width='100%', cellspacing='0', cellpadding='0', border='0', align='center', style='border-collapse: collapse;')
                                                            tbody
                                                                tr
                                                                    td(height='20', style='font-size: 0; line-height: 0;')
                        // Subfooter End
