extends template

block content


    | Dear #{data.name},

    br
    br

    | Please click the link below to reset your password. This link is only valid for 30 minutes.
    br
    br
    a(href='#{data.url}') Change password
    br
    br

