extends ../user/layout

block content

    .col-lg-2.text-center
    .col-lg-8
        h2 Confirmation

        br
        p Merci #{session.firstName}, nous allons vous contacter bientot afin d'activer votre compte.
        br



    .col-lg-2.text-center
