extends ..\user\layout

block content

    .col-lg-2.text-center
    .col-lg-8
        h2 Confirmation
        br
        br
        p Merci #{session.firstName}, vous pouvez maintenant acceder a&nbsp;
            a(href='my-account') nos offres
        br



    .col-lg-2.text-center
