extends ../user/layout

include ../_includes/sharedHTMLfunctions

block content

    #banner.banner.dark-translucent-bg.padding-bottom-clear(style="background-image:url('images/seahorizon.jpg');")
        // section start
        // ================
        .container
            .row
                .col-md-8.text-center.col-md-offset-2.space-bottom
                    .title.large_white Adaptez vos techniques de recrutement aux nouvelles générations!
                    .separator
                    p.text-center.lead  DYNAMISEZ VOTRE IMAGE ET ASSUREZ VOUS DE CAPTER & SELECTIONNER LES MEILLEURS TALENTS

                    h4 Gagnez en visibilité tout en optimisant vos processus de recrutement, pourquoi perdre du temps et de l'argent à screener des CVs qui ne reflètent pas nécessairement les compétences et personnalité des candidats? 
                    //p.text-center.lead
                    //    | Réus
            .row
                //.container.text-center
                //.col-md-2()
                .col-md-8.col-md-offset-2.text-center
                    .row.text-center
                        .col-md-6
                            a(href="/recruiter/recruiter-register" style="padding: 6px 40px").btn.btn-default S'enregistrer
                        .col-md-6
                            a(href="/recruiter/recruiter-login" style="padding: 6px 40px").btn.btn-default Se connecter

            br

     //
    section#about.main-container
        .container
            .col-md-8.col-md-offset-2
                h2.text-center.title
                    | Soyez
                    strong  précurseur
                .separator
                p.large.text-center
                    | Le constat est sans appel : le recrutement basé sur le screening des CVs ne permet pas d'attirer ni de sélectionner les meilleurs candidats tout en ayant un coût et contrainte temps extrêmement prohibitif. Notre service vous permet d'accéder par mots clés aux réponses filmées des meilleurs candidats: DCF, esprit d'équipe, Black&Scholes, formule VE, etc.
            .row
                .col-md-8.col-md-offset-2
                    h3.text-center.title
                        | Notre but : 
                        span.text-rotator(data-rotator-animation-effect='fadeIn')  faciliter l'identification et recrutement des talents en parfaite adéquation avec vos besoins

                    p.text-center
                        | Les techniques de recrutement telles que nous les connaissons sont amenées à profondément évoluer, à l'image des attentes des nouvelles générations. 
                        span.text-default

                        strong Nous sommes pionniers de cette transformation
                        |  et nous attachons à:
                        p.text-center
                    ul.list-icons
                        li.object-non-visible(data-animation-effect='fadeInUpSmall', data-effect-delay='100')
                            i.icon-check-1
                            |  Augmenter la visibilité et l'attractivité de vos offres de stage et d'emploi
                        li.object-non-visible(data-animation-effect='fadeInUpSmall', data-effect-delay='150')
                            i.icon-check-1
                            |  Tester les compétences clés en situations d'entretien
                        li.object-non-visible(data-animation-effect='fadeInUpSmall', data-effect-delay='200')
                            i.icon-check-1
                            |  Assurer un screening des candidats le plus efficient et efficace possible à l'aide de vos propres critères
                        li.object-non-visible(data-animation-effect='fadeInUpSmall', data-effect-delay='250')
                            i.icon-check-1
                            |  Procurer de la flexibilité: visualisez les séquences quand vous le désirez, transférez les facilement aux décisionnaires & l'ensemble de l'équipe
                    p
                um
                section.pv-30
                    .container
                        .row
                            .col-md-8.col-md-offset-2
                                h2.text-center
                                    | Confiez nous votre 
                                    strong  PREMIER TOUR D'ENTRETIEN!
                                .separator
                                p.large.text-center
                                    | Assurez-vous d'accéder aux meilleurs profils tout en ayant la certitude d'appréhender au mieux leurs compétences techniques, personnalité et motivations - le tout testé et challengé en situation réelle d'entretien!
                                    Lorem 
                        .row
                            .col-md-4
                                .pv-20.ph-20.feature-box-2.light-gray-bg.boxed.shadow.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='100')
                                    span.icon.without-bg
                                        i.fa.fa-diamond
                                    .body
                                        h4.title Efficace & efficient
                                        p
                                            | Visualisez uniquement les séquences les plus pertinentes des meilleurs candidats
                            .col-md-4
                                .pv-20.ph-20.feature-box-2.light-gray-bg.boxed.shadow.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='150')
                                    span.icon.without-bg
                                        i.fa.fa-connectdevelop
                                    .body
                                        h4.title Flexible & Personnalisé
                                        p
                                            | Nous challengeons les candidats basés sur vos exigences et notre connaissance du marché
                            .col-md-4
                                .pv-20.ph-20.feature-box-2.light-gray-bg.boxed.shadow.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='200')
                                    span.icon.without-bg
                                        i.icon-snow
                                    .body
                                        h4.title Innovant
                                        p
                                            | Le secteur du recrutement est amené à profondément évoluer : soyez acteur de ces changements
                        .row
                            .col-md-4
                                .pv-20.ph-20.feature-box-2.light-gray-bg.boxed.shadow.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='250')
                                    span.icon.without-bg
                                        i.icon-megaphone
                                    .body
                                        h4.title Collaboratif & Intuitif
                                        p
                                            | Visualisez simplement les meilleurs extraits d'entretiens en ligne puis contactez les candidats retenus
                            .col-md-4
                                .pv-20.ph-20.feature-box-2.light-gray-bg.boxed.shadow.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='300')
                                    span.icon.without-bg
                                        i.fa.fa-arrows
                                    .body
                                        h4.title Flexibilité
                                        p
                                            | Recrutement ad-hoc ou abonnement, nous nous adaptons à vos contraintes et fréquences de recrutement
                            .col-md-4
                                .pv-20.ph-20.feature-box-2.light-gray-bg.boxed.shadow.object-non-visible(data-animation-effect='fadeInDownSmall', data-effect-delay='350')
                                    span.icon.without-bg
                                        i.icon-star-empty
                                    .body
                                        h4.title Egalité des chances
                                        p
                                            | Ne passez plus à côté des meilleurs talent écartés à cause de CVs divergents!
                // section end
                h3.title
                    | Notre
                    strong  Equipe
                .separator-2
                .row.grid-space-10
                    .col-sm-6
                        .team-member.image-box.style-2.shadow.bordered.light-gray-bg.text-center

                            .overlay-container.overlay-visible
                                    img.img-circle.center(src='/images/jerome.jpg', alt='', width="100", style='display: block; margin: auto auto;' )

                            .body
                                h3.margin-clear Jerome
                                small CEO & Co-Fondateur
                                .separator.mt-10
                                p.small.margin-clear
                                    | 10 ans d'expérience en banque d'investissement, Private Equity et recrutement.
                                a.btn.btn-lg-link.link-dark(href='mailto:info@theproject.com')
                                    i.pr-10.fa.fa-envelope-o
                                    | Contactez moi!
                    .col-sm-6
                        .team-member.image-box.style-2.shadow.bordered.light-gray-bg.text-center
                            .overlay-container.overlay-visible
                                    img.img-circle.center(src='/images/renaud.jpg', alt='', , width="100", style='display: block; margin: auto auto;')

                            .body
                                h3.margin-clear Renaud
                                small COO & Co-Fondateur
                                .separator.mt-10
                                p.small.margin-clear
                                    | Consultant développeur avec plus de 12 ans d'expérience. Co-fondateur d'une start-up.
                                a.btn.btn-lg-link.link-dark(href='mailto:info@theproject.com')
                                    i.pr-10.fa.fa-envelope-o
                                    | Contactez moi!

                                  
     p
  um 


// footer top end
// section end
// footer start (Add "dark" class to #footer in order to enable dark footer)
// ================
footer#footer.clearfix
// .footer start
// ================
.footer
  .container
      .footer-inner
          .row
                  .col-md-8.col-md-offset-2
                  .footer-content
                                                      h2.title Une question? Contactez nous:
                      #MessageSent2.alert.alert-success.hidden
                          | We have received your message, we will contact you very soon.
                      #MessageNotSent2.alert.alert-danger.hidden
                          | Oops! Something went wrong please refresh the page and try again.
                      form#footer-form.margin-clear(role='form')
                          .form-group.has-feedback.mb-10
                              label.sr-only(for='name2') Name
                              input#name2.form-control(type='text', placeholder='Name', name='name2')
                              i.fa.fa-user.form-control-feedback
                          .form-group.has-feedback.mb-10
                              label.sr-only(for='email2') Email address
                              input#email2.form-control(type='email', placeholder='Enter email', name='email2')
                              i.fa.fa-envelope.form-control-feedback
                          .form-group.has-feedback.mb-10
                              label.sr-only(for='message2') Message
                              textarea#message2.form-control(rows='4', placeholder='Message', name='message2')
                              i.fa.fa-pencil.form-control-feedback
                          input.margin-clear.submit-button.btn.btn-default(type='submit', value='Send')
// .footer end
// .subfooter start
// ================
.subfooter
  .container
      .subfooter-inner
          .row
              .col-md-12
                  p.text-center
                      | © 2016 SkipTheFirstRound.com
                  
                      | 
    //    .row.text-center
    //        h2 Confiez nous votre premier tour d'entretien!
    //        br
    //        h3 Nous posons les questions pertinentes, challangeons les candidats et filtrons les meilleures reponses
    //        br
    //        h4 Accedez a nos simulations d'entretien pour immediatement identifier le potentiel de nos candidats
    //        br
    //
    //    .row.text-center
    //        //.container.text-center
    //        //.col-md-2()
    //        .col-md-6()
    //            a(href="/recruiter/recruiter-register" style="padding: 6px 40px").btn.btn-default S'enregister
    //        .col-md-6
    //            a(href="/recruiter/recruiter-login" style="padding: 6px 40px").btn.btn-default Se connecter
    //
    //
    //.col-lg-2.text-center
