extends ../user/layout

include ../_includes/sharedHTMLfunctions

block content

    .col-lg-2
    .col-lg-8
        .row

            h3 Un concept novateur qui vous permet de beneficier de conseils personalises tout en permettant aux entreprises ciblees d'acceder a vos meilleurs sequences d'entretien
            br
            br

        .row.text-center
                .col-lg-6
                    h4 Extraits videos

                .col-lg-1

                .col-lg-5
                    h4 Offres
        .row

                .col-lg-6
                    p Parcourez les mises en situation d'entretiens de nos candidats et identifiez leurs competences cles
                    p Nous posons les questions pertinentes, challangeons les candidats et filtrons les meilleures reponses

                .col-lg-1

                .col-lg-5
                    p Postez votre offre et accedez aux simulations d'entretien des candidats interesses
        .row

                .col-lg-6
                    .row.text-center
                        .col-lg-6
                            a(href="browse-videos").btn.btn-default.btn-block Parcourer les extraits videos
                        .col-lg-6
                            a(href="view-favourites").btn.btn-default.btn-block Voir extraits videos favoris

                .col-lg-1

                .col-lg-5
                    .row.text-center
                        .col-lg-6
                            a(href="post-offer").btn.btn-default.btn-block Poster une offre
                        .col-lg-6
                            a(href="my-offers").btn.btn-default.btn-block Voir mes offres


    .col-lg-2