extends ../user/layout

include ../_includes/sharedHTMLfunctions

block content

    .col-lg-2.text-center
    .col-lg-8
        .row

            h3 Un concept novateur qui vous permet de beneficier de conseils personalises tout en permettant aux entreprises ciblees d'acceder a vos meilleurs sequences d'entretien


        .row
            .container
                .col-md-4
                    p Parcourez les mises en situation d'entretiens de nos candidats et identifiez leurs competences cles
                    p Nous posons les questions pertinentes, challangeons les candidats et filtrons les meilleures reponses

                .col-md-4
                    p Postez votre offre et accedez aux simulations d'entretien des candidats interesses
        .row
            .container.text-center
                .col-md-4
                    a(href="browse-videos").btn.btn-default Parcourer les extraits videos
                    a(href="view-favourites").btn.btn-default Voir extraits videos favoris
                .col-md-4
                    a(href="post-offer").btn.btn-default Poster une offre
                    a(href="my-offers").btn.btn-default Voir mes offres


    .col-lg-2.text-center