extends ../user/layout



block content

    .col-lg-2.text-center
    .col-lg-8
        .row

            h3 My offers

            table.table
                tr
                    th Offer
                    th Number Views
                    th Number Applicatns
                    th Details
                    th Applicants
                each offer in offers
                    tr
                        td=offerTypeText + ' - ' + offer.sectorText + ' - ' + offer.companyTypeText + ' - ' + offer.location
                        td 23
                        td 3
                        td
                            a(href='offer/#{offer.id}') View Details
                        td
                            a(href='offer/#{offer.id}') View Applicants (TODO show videos)

        .row

        .row



    .col-lg-2.text-center