extends ../user/layout



block content

    .col-lg-2.text-center
    .col-lg-8
        .row

            h3 Mes offres

            table.table
                tr
                    th Offre
                    //th Nombre de vues
                    th Nombre de candidatures
                    th Details
                    th Candidats
                each offer in offers
                    tr
                        td=offer.sectorText + ' - ' + offer.positionText + ' - ' + offer.offerTypeText + ' - ' + offer.companyTypeText + ' - ' + offer.location
                        //td=offer.viewCount
                        td=offer.applyCount
                        td
                            a(href='offer/#{offer.id}') Details
                        td
                            a(href='offer/#{offer.id}') Voir candidats (TODO show videos)

        .row

        .row



    .col-lg-2.text-center