extends ../user/layout

include ../_includes/sharedHTMLfunctions

block content

    .col-lg-2.text-center
    .col-lg-8
        .row

            h3 Post offer


        .row

        .row



    .col-lg-2.text-center