
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    lightgrey;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    lightgrey;
    opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    lightgrey;
    opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    lightgrey;
}